

@import "main";



.dashboard-content-header {
  position: relative;
  margin-bottom: 100px;

  .text {
    display: inline-block;
    margin-right: 45px;

    &.large {
      display: block;
    }
  }

  #dashboard-more-btn {
    position: absolute;
    top: 0;
    right: 0;

    svg {
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
    }
  }
}

.arrow-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.stats-left {
  width: 50%;
  float: left;
  border-right: 1px solid #CBD0E1;
  padding: 40px 50px 50px;
}

.stats-right {
  width: 50%;
  float: right;
  //padding: 40px 50px;

  .text-container {
    padding: 40px 50px 0;
  }
}

.stats-bars-container {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.stats-bar-group {
  height: 150px;
  position: relative;
  width: 35px;
}

.stat-bar {
  width: 15px;
  border-radius: 5px;
  background-color: #76D1D8;
  height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;

  &.h-25 {
    height: 25%;
  }

  &.h-35 {
    height: 35%;
  }

  &.h-45 {
    height: 45%;
  }

  &.h-55 {
    height: 55%;
  }

  &.h-65 {
    height: 65%;
  }

  &.h-75 {
    height: 75%;
  }

  &.purple {
    background-color: #C688F1;
    right: 0;
    bottom: 0;
    left: initial;
  }
}

.stats-list-group {
  margin-top: 55px;
  padding: 40px 50px 40px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #F5F8FF;
  }

  .text-container {
    width: calc(100% - 90px);
    display: inline-block;
    vertical-align: middle;
    position: relative;

    padding: 0 0 0 20px;

    .text:nth-child(2) {
      margin-bottom: 0;
    }
  }
}

.stat-oval {
  width: 85px;
  height: 85px;
  border-radius: 50px;
  border: 25px solid #FFE6F8;
  background-color: #FF8CDF;
  display: inline-block;
  vertical-align: middle;

  &.purple {
    background-color: #B48CFF;
    border: 25px solid #EFE6FF;
  }

  &.red {
    background-color: #FF8CA7;
    border: 25px solid #FFE6EC;
  }

  &.yellow {
    background-color: #FFCD8C;
    border: 25px solid #FFF4E6;
  }

  &.blue {
    background-color: #8CB4FF;
    border: 25px solid #E6EEFF;
  }
}

.bottom-stats-container {
  margin-top: 35px;

  .stats-section {
    width: 48%;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 7px 17px -10px #CEDAF7;
    overflow: auto;
    min-height: 380px;
    position: relative;

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }

    &.dark {
      background: linear-gradient(180deg, #20346B 0%, #222D4F 100%);

      .text {
        background-color: #3F59A6;
      }
    }

    .nav-btn-container {
      position: absolute;
      width: 140px;
      bottom: 50px;
      right: 50px;

      .btn {
        display: inline-block;
      }
    }
  }
}

.bottom-stats-text-container {
  padding: 50px 50px 35px;

  .text:last-child {
    margin-bottom: 0;
  }
}

.profile-container {
  position: relative;
  border-top: 1px solid #CBD0E1;
  padding: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #F5F8FF;
  }

  .oval {
    margin-right: 5px;
    width: 60px;
    height: 60px;
  }

  .arrow-right {
    right: 50px;
  }
}


.side-panel {
  width: 35%;
  height: 100%;
  position: fixed;
  right: -580px;
  top: 0;
  box-shadow: 0 7px 86px -10px rgba(3,42,133,0.51);
  background-color: #FFFFFF;
  max-width: 530px;
  overflow: auto;
  transition: right 0.6s cubic-bezier(0.23, 1, 0.32, 1);

  &.visible {
    right: 0;
    top: 0;
  }

}

#side-panel-close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
}

.side-panel-header {
  margin-bottom: 50px;
  padding: 100px 60px 50px;

  .text {
    display: inline-block;

    &:first-child {
      margin-right: 45px;
    }
  }
}

.text-group {
  margin-bottom: 70px;
  padding: 0 60px;

  .large {
    margin-bottom: 20px;
  }

  .secondary-btn {
    margin-top: 30px;
  }
}

.stats-list-container {


  .stats-list-group {
    border-top: 1px solid #CBD0E1;
    margin-top: 0;
    padding: 25px 60px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #F5F8FF;
    }
  }
}






@media only screen and (max-width: 1450px) {
  .stats-bar-group:first-child, .stats-bar-group:last-child {
    display: none;
  }
}



@media only screen and (max-width: 1235px) {

  .dashboard-content-header {
    margin-bottom: 50px;
  }

  .stats-left, .stats-right {
    padding: 40px 25px 25px;
  }

  .bottom-stats-container {
    .stats-section {
      min-height: 338px;
    }
  }

  .bottom-stats-text-container {
    padding: 40px 25px 25px;
  }

  .profile-container {
    padding: 40px 25px 40px;
  }
}



@media only screen and (max-width: 1024px) {
  .side-panel {
    width: 50%;
  }

  .side-panel-header {
    padding: 100px 30px 25px;
  }

  .text-group {
    padding: 0 25px;
  }

  .stats-list-container {
    .stats-list-group {
      padding: 25px;
    }
  }
}



@media only screen and (max-width: 750px) {

  .stats-left {
    width: 100%;
    border-bottom: 1px solid #CBD0E1;
    border-right: none;
  }

  .stats-right {
    width: 100%;
  }

  .stats-bar-group:first-child, .stats-bar-group:last-child {
    display: block;
  }

  .bottom-stats-container {

    .stats-section {
      width: 100%;
      margin-bottom: 35px;
    }
  }

  .side-panel {
    width: 75%;
  }

  .stats-list-container {

    .stats-list-group {
      padding: 25px 15px 25px 25px;

      .text-container {
        width: calc(100% - 65px);
        padding-left: 10px;
      }

      .stat-oval {
        width: 60px;
        height: 60px;

        &.purple {
          border: 20px solid #EFE6FF;
        }

        &.red {
          border: 20px solid #FFE6EC;
        }

        &.yellow {
          border: 20px solid #FFF4E6;
        }

        &.blue {
          border: 20px solid #E6EEFF;
        }
      }
    }
  }
}



@media only screen and (max-width: 520px) {

  .dashboard-content-header {
    .text {
      display: block;
    }
  }

  .stats-bar-group:first-child, .stats-bar-group:last-child {
    display: none;
  }

  .profile-container {
    .oval {
      width: 50px;
      height: 50px;
    }

    .arrow-right {
      right: 25px;
    }
  }
}