

@import "style-resets";

body {
  background: linear-gradient(44.75deg, #EBF2FF 0%, #FCFDFF 100%);
  margin: 0;
}

.text {
  height: 10px;
  border-radius: 9px;
  width: 100%;
  background-color: #98A3C3;
  margin-bottom: 15px;
  transition: background-color 0.3s ease-in-out;

  &.nav {
    background-color: #3F59A6;
  }

  &.medium {
    height: 18px;
    margin-bottom: 25px;
  }

  &.large {
    height: 25px;
    margin-bottom: 50px;
  }

  &.w-10 {
    width: 10%;
  }

  &.w-20 {
    width: 20%;
  }

  &.w-30 {
    width: 30%;
  }

  &.w-40 {
    width: 40%;
  }

  &.w-50 {
    width: 50%;
  }

  &.w-60 {
    width: 60%;
  }

  &.w-70 {
    width: 70%;
  }

  &.w-80 {
    width: 80%;
  }

  &.w-90 {
    width: 90%;
  }

}


.oval {
  height: 50px;
  width: 50px;
  background-color: #CBD0E1;
  border-radius: 50px;
  display: inline-block;
  margin-right: 15px;
  transition: background-color 0.3s ease-in-out;

  &.nav {
    background-color: #3F59A6;
  }
}

.svg-bg {
  transition: fill 0.3s ease-in-out;
}

.tab-btn {
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #3F59A6;

  }

  &.active {
    background-color: #3F59A6;

  }
}

.btn {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 7px 16px -10px #CEDAF7;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;

  &.dark {
    background-color: #465C9E;
    box-shadow: 0 7px 16px -10px #000000;

    &:hover {
      box-shadow: 0 7px 30px -10px #000000;
    }

    &.arrow-right-btn {
      background: url("img/arrow-right-colored.svg") center no-repeat rgba(70, 92, 158, 0.5);
      float: right;
    }

    &.arrow-left-btn {
      background: url("img/arrow-left-colored.svg") center no-repeat rgba(70, 92, 158, 0.5);
      float: left;
    }

  }

  &:hover {
    box-shadow: 0 7px 30px -10px #a6bbec;

    .svg-bg {
      fill: #3F59A6;
    }
  }
}


.nav-btn {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 7px 16px -10px #CEDAF7;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.mini-menu-btn {
  background: url("img/list-white.svg") no-repeat center #3F59A6;
  border-radius: 50px;
  margin: 30px 0 0 50px;
  width: 150px;
  height: 50px;
  display: none;
}

.white-bg {
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 7px 17px -10px #CEDAF7;
  width: 100%;
  overflow: auto;
}


.margin-t-40 {
  margin-top: 40px;
}

.sidebar-nav {
  height: 100vh;
  background: linear-gradient(180deg, #20346B 0%, #222D4F 100%);
  width: 330px;
  float: left;
  position: fixed;

  .nav-content-container {
    overflow-y: auto;
    height: calc(100vh - 125px);
  }


  .nav-links-container {
    margin-top: 50px;
  }

  .link-btn-wrapper {
    padding: 25px 30px 25px 50px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: rgba(70, 92, 158, 0.5);

      .link-btn {
        background-color: #a7c6de;
      }

      .svg-bg {
        fill: #a7c6de;
      }
    }

    &.active {
      background-color: #465C9E;

      .link-btn {
        background-color: #ffffff;
      }
    }

    img, svg {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  .link-btn {
    background-color: #3F59A6;
    height: 10px;
    border-radius: 9px;
    width: 100%;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;

    &.w-40 {
      width: 40%;
    }

    &.w-50 {
      width: 50%;
    }

    &.w-60 {
      width: 60%;
    }

    &.w-70 {
      width: 70%;
    }

    &.w-80 {
      width: 80%;
    }

    &.w-90 {
      width: 90%;
    }

    &.active {
      background-color: #ffffff;
    }
  }



  .nav-text-container {
    padding: 0 30px 0 50px;
    margin-top: 100px;
  }

  .nav-footer-container {
    background-color: #131F45;
    width: 330px;
    padding: 35px;
    position: fixed;
    bottom: 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #101a34;

      .oval, .text {
        background-color: #a7c6de;
      }
    }
  }

  .footer-text-container {
    display: inline-block;
    width: calc(100% - 70px);

    .medium {
      margin-bottom: 20px;
    }

    .footer-text {
      margin-bottom: 0;
    }
  }

}

.main-content-container {
  width: calc(100% - 330px);
  max-width: 1800px;
  display: inline-block;
  height: 100vh;
  float: left;
  margin-left: 330px;
  padding: 100px 100px 20px;
  overflow: auto;
}

@media only screen and (max-width: 1235px) {

  .main-content-container {
    padding: 100px 50px 50px;
    overflow: initial;
    height: 100%;
  }

}

@media only screen and (max-width: 1024px) {

  .sidebar-nav {
    display: none;
  }

  .mini-menu-btn {
    display: block;
  }

  .main-content-container {
    width: 100%;
    padding: 50px;
    //height: 92vh;
  }

}

@media only screen and (max-width: 750px) {

  .mini-menu-btn {
    margin: 30px 0 0 25px;
  }

  .main-content-container {
    height: 100%;
    padding: 50px 25px 25px;
  }
}